# Copyright (C) 2017-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2017-present Sven Greb <development@svengreb.de>
#
# Project:    snowsaw
# Repository: https://github.com/arcticicestudio/snowsaw
# License:    MIT

# +--------------------+
# + JetBrains Products +
# +--------------------+
# +--- IntelliJ IDEA ---+
.idea/*
!.idea/runConfigurations
!.idea/saved-exports
!.idea/watcherTasks.xml

# +------+
# + Logs +
# +------+
**/*.log
logs/
npm-debug.log*

# +---------+
# + Node.js +
# +---------+
.npm/
**/node_modules/
